{
  "rules": {
    "no-alert": 0
  },
  "globals": {
    "classNames": false,
    "React": false,
    "ReactDOM": false,

    "DatePicker": false,
    "DatePicker2": false,
    "Dropdown": false,
    "Form": false,
    "Form2": false,
    "Grid": false,
    "MonthPicker": false,
    "Refers": false,
    "TreeRefer": false,
    "TextField": false,
    "Tree": false,
    "YearPicker": false,

    "FormControl": false,
    "ReactBootstrapGrid": false,

    "bootstrapUtils": false,

    "mountNode": false

  }
}
