{
  "rules": {
    "no-alert": 0
  },
  "globals": {
    "classNames": false,
    "React": false,
    "ReactDOM": false,

    "F0rm": false,
    "Form": false,
    "Grid": false,
    "Refer": false,
    "TreeRefer": false,

    "bootstrapUtils": false,

    "mountNode": false

  }
}
